/* start StudentDataPage Component */
.studentdatacontainer{
    margin-right: 25px;
    margin-left: 25px;
}
.numberofstudents{
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #343148; 
}
.subjectheader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    margin-top: 0px;
    color: #B0585E;
}
.studentdatasubheader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #AA7874;
}
#formNumberOfStudents{
    color: #343148;
}
.continuebutton{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-top: 25px;
    margin-left: 0px;
    /* margin-bottom: 50px; */
}
/* end StudentDataPage Component */