.welcomepage{
    display: grid;
    height: 100vh;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    grid-template-columns: 1fr 1fr;
    margin-top: 5%;
}

.welcome-left-col{
    padding-top: 5%;
    padding-bottom: 5%;
}


.threeButtonContainer{
    padding-top: 5%;
}

.currentClassContainer{
    background-color: var(--blue-white);
    border: groove 1px var(--purple-gray-tint);
    border-radius: 5px;
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10%;
    /* height: 75%; */
    margin-bottom: 5%;
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 5%;
    /* box-shadow: inset 1em -1em 1em -1em #FDFBED; */ 
}

#currClassHeader{
    font-size: 1.65em;
    color: var(--ultra-violet-shade);
    font-weight: 200;
    padding-bottom: 2%;
}

.currClassPropList{
    padding-top: 3%;
    font-size: 1.1em;
}

.currClassTitle{
    font-weight: 300;
    color: var(--ultra-violet-shade);
}

.currClassText{
    font-weight: 200;
    color: var(--red-shade);
}

.button-subhead{
    font-size: 1.15em;
}

.newClassButtonContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 5%;
    margin-top: 5%;
}

.arrayngeClassButtonContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 5%;
}

.editClassButtonContainer{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 5%;
    margin-top: 5%;
}

.viewChartsButtonContainer{
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.chooseDiffClassContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-top: 5%;
    grid-column: 1 / 2;
}

.diffClassHeader{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5em;
    color: #19182D;
    font-weight: 200;
}

.welcomeButtons{
    font-size: 1.015em;
    height: 5em;
    width: 60%;
    align-self: center; 
    justify-self: center;
    margin-top: 1.25em;
    text-decoration: 'none';
    font-family: "quasimoda, sans-serif";
    font-style: "normal";
    font-weight: 300;
}

#newClassButton{
    box-shadow: inset 1em -1em 1em -1em var(--red-shade);
    text-shadow: 0 0 5px var(--cool-white), 0 0 10px var(--cool-white), 0 0 20px var(--purple-gray-tint), 0 0 30px var(--purple-gray-tint), 0 0 40px var(--purple-gray-tint), 0 0 55px var(--purple-gray-tint), 0 0 75px var(--purple-gray-tint);
    border-radius: 10px;
    color: var(--mermaid-green);
    /* color: var(--red-shade); */
    background-color: var(--blue-gray-tint);
}

#newClassLink{
    text-decoration: 'none';
    font-family: "quasimoda, sans-serif";
    font-style: "normal";
    font-weight: 300;
    color: "#B0585E";
}

#arrayngeClassButton{
    background-color: var(--blue-gray-tint);
    text-shadow: 0 0 5px var(--cool-white), 0 0 10px var(--cool-white), 0 0 20px var(--purple-gray-tint), 0 0 30px var(--purple-gray-tint), 0 0 40px var(--purple-gray-tint), 0 0 55px var(--purple-gray-tint), 0 0 75px var(--purple-gray-tint);
    box-shadow: inset 1em -1em 1em -1em var(--mermaid-green-shade);
    border-radius: 10px;
    color: var(--muted-ultra-violet);
}

#editClassButton{
    background-color: var(--blue-gray-tint);
    box-shadow: inset 1em -1em 1em -1em var(--muted-ultra-violet);
    text-shadow: 0 0 5px var(--cool-white), 0 0 10px var(--cool-white), 0 0 20px var(--purple-gray-tint), 0 0 30px var(--purple-gray-tint), 0 0 40px var(--purple-gray-tint), 0 0 55px var(--purple-gray-tint), 0 0 75px var(--purple-gray-tint);
    border-radius: 10px;
    color: var(--mermaid-green);
}

#viewChartsButton{
    background-color: var(--blue-gray-tint);
    box-shadow: inset 1em -1em 1em -1em var(--muted-dark-navy);
    text-shadow: 0 0 5px var(--cool-white), 0 0 10px var(--cool-white), 0 0 20px var(--purple-gray-tint), 0 0 30px var(--purple-gray-tint), 0 0 40px var(--purple-gray-tint), 0 0 55px var(--purple-gray-tint), 0 0 75px var(--purple-gray-tint);
    border-radius: 10px;
    color: var(--burgendy);
}

.classList{
    padding-inline-start: 10%;
    text-align: left;
}

.classListProps{
    width: 90%;
    font-size: 1.15em;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 200;
    padding: 5%;
    border: groove 1px #D6D5DA;
    border-radius: 2%;
    background-color: #F8F8F6;
    display: flex;
    flex-direction: column;
}

.classListItem{
    font-weight: 300;
    color: #353F7C;
}

#classListItemHeader{
    color: #36407D;
    font-weight: 200;
}
.listItemPropCont{
    padding-bottom: 3%;
}
/* .saveButton-noDisplay{
    height: 25px;
} */