.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: source-sans-pro, sans-serif;
    font-style: normal;
    font-weight: 200;
    margin: 0 auto;
    font-size: 3em;
    color: var(--ultra-violet);
  }