/* start StudentForm Component */
.studentdatapage{
    display: grid;
    margin: 2% 5%;
    font-family: acumin-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    color: var(--muted-ultra-violet-shade);
}

.single-form-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.studentdatalabels{
    display: flex;
    font-size: 1.1em;
}

.studentdatainputs{
    display: flex;
    height: 2em;
}

.studentdataname{
    display: flex;
    font-size: 1.1em;
}

#student-form-header{
    margin-top: 2%;
}

#studentdatapagebutton{
    height: 2.5em;
    color: var(--blue-white);
    background-color: var(--red-shade);
    border-radius: 3px;
    /* padding: 5%; */
}

.studentdata-button-container{
    display: flex;
    align-items: flex-end;
}

.checkbox-container{
    display: flex;
    align-items: flex-end;
}
/* end StudentForm Component */
